/* || Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gun-metal: #393d3f;
  --white: #fdfdff;
  --silver: #c6c5b9;
  --pacific-ocean: #62929e;
  --blue-slate: #546a7b;
}

/* || Main Styles */
