/* || Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gun-metal: #393d3f;
  --white: #fdfdff;
  --silver: #c6c5b9;
  --pacific-ocean: #6e91aa;
  --lighter-blue: #e7edf1;
  --blue-slate: #0d4771;
}

/* || Main Styles */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--silver);
  background-color: var(--white);
  padding: 1rem 3rem;
  width: 100%;
}
.header-logo {
  width: 10rem;
  height: auto;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.header-nav-link {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  color: var(--blue-slate);
  text-decoration: none;
}

.header-nav-link:hover {
  color: var(--gun-metal);
}

.header-nav-btn {
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--blue-slate);
  padding: 1rem;
  color: var(--white);
}

.header-nav-btn:hover {
  background-color: var(--pacific-ocean);
}

/* Hero Section */

.hero-section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 6.7rem;
  height: 100vh;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1rem;
  padding: 5rem;
}

.hero-img-container {
  background-image: url(./images/Hero\ Image.jpg);
  background-position: center;
  background-size: 100%;
  background-color: var(--pacific-ocean);
}

.licensed {
  color: var(--pacific-ocean);
}

.hero-text-main {
  color: var(--gun-metal);
  font-size: 3rem;
}

.hero-span {
  color: var(--pacific-ocean);
}

.hero-sub-text {
  margin-block-end: 1rem;
  color: var(--pacific-ocean);
  line-height: 150%;
}

.hero-call-to-action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.hero-estimate-btn,
.hero-services-btn {
  width: 10rem;
}

.hero-estimate-btn {
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--blue-slate);
  padding: 1rem;
  color: var(--white);
}

.hero-estimate-btn:hover {
  background-color: var(--pacific-ocean);
}

.hero-services-btn {
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  cursor: pointer;
  border: 0.1rem solid var(--silver);
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 1rem;
  color: var(--blue-slate);
  color: var(--gun-metal);
  text-align: center;
  text-decoration: none;
}

.hero-services-btn:hover {
  background-color: var(--gun-metal);
  color: var(--white);
}

/* Services Section */

.services-section {
  padding: 8rem 5rem;
  height: 100vh;
}

.services-text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-end: 2rem;
  width: 30rem;
}

.services-text-main {
  line-height: 150%;
}

.what-we-do,
.services-text-main {
  color: var(--pacific-ocean);
}

.services-header {
  color: var(--gun-metal);
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-card-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
}

.services-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 18rem;
  height: 25rem;
}

.services-card:hover {
  background-color: var(--lighter-blue);
}

.services-card:hover .icon {
  background-color: var(--pacific-ocean);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.5rem;
  background-color: var(--blue-slate);
  padding: 1rem;
  width: 3rem;
  height: 3rem;
}

.fa-solid {
  transition: color 0.2s ease-in-out;
  color: var(--white);
}

.h3 {
  color: var(--gun-metal);
}

.services-text {
  color: var(--pacific-ocean);
}

.services-card-img-container {
  border-radius: 0.5rem;
  background-color: var(--pacific-ocean);
  width: 100%;
  height: 15rem;
}

.decorating {
  transition: background-size 0.2s ease-in-out;
  background-image: url(./images/Decorating\ Image.jpg);
  background-position: center;
  background-size: 100%;
}

.services-card:hover .decorating {
  background-size: 120%;
}

.repairs {
  transition: background-size 0.2s ease-in-out;
  background-image: url(./images/Repairs\ Image.jpg);
  background-position: center;
  background-size: 100%;
}

.services-card:hover .repairs {
  background-size: 120%;
}

.seasonal {
  transition: background-size 0.2s ease-in-out;
  background-image: url(./images/Seaonal\ Image.jpg);
  background-position: center;
  background-size: 100%;
}

.services-card:hover .seasonal {
  background-size: 120%;
}

.carpentry {
  transition: background-size 0.2s ease-in-out;
  background-image: url(./images/Carpentry\ 2.jpg);
  background-position: center;
  background-size: 100%;
}

.services-card:hover .carpentry {
  background-size: 120%;
}

/* Why Us Section */

.why-us-section {
  display: flex;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--pacific-ocean);
  height: 100vh;
}

.why-us-img-container {
  background-image: url(./images/Why\ Us\ Image.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
}

.why-us-text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 8rem 3rem 0 0;
}

.why-ec {
  color: var(--lighter-blue);
}

.why-us-main-text {
  color: var(--white);
  line-height: 150%;
}

.why-us-features-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.why-us-feature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: var(--lighter-blue);
  padding: 1rem;
}

.why-us-icon {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--blue-slate);
  width: 2rem;
  height: 2rem;
}

.fa-user-group,
.fa-clock,
.fa-circle-check {
  color: var(--white);
}

.why-us-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

h4 {
  color: var(--blue-slate);
}

.feature-text p {
  color: var(--gun-metal);
  line-height: 150%;
}

/* Contact Section */

.contact-section {
  height: 100vh;
}

.contact-us-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 8rem 5rem;
  width: 100%;
  height: 100%;
}

.contact-us-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-us-form {
  display: flex;
  align-items: stretch;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: var(--lighter-blue);
  padding: 1rem;
  width: 20rem;
}

.get-in-touch {
  color: var(--pacific-ocean);
}

.contact-header {
  font-size: 2.5rem;
}

.contact-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.contact-us-main-text {
  color: var(--pacific-ocean);
  line-height: 150%;
}

.fa-phone,
.fa-envelope {
  color: var(--blue-slate);
}

.form-container {
  border-radius: 0.5rem;
  background-color: var(--pacific-ocean);
  width: 100%;
  min-height: 24rem;
}
